.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0b0b4f;
  --primary-color: #1b388f;
  --secondary-color: #2e69e7;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
